<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kedianqiao.mapper.RoomMapper">
    <!--查询所有房间号-->
    <select id="selectAllByRoom" resultType="Room" parameterType="java.lang.Integer">
        select id,room_name,room_number,admin_id,init_status,room_status,health_status,damage,keep_begindate,keep_enddate,remove_name,remarks
        from room
        where admin_id=#{admin_id}
    </select>
    <!--查询指定房间-->
    <select id="selectOneByRoom" resultType="Room">
        select id,room_name,room_number,admin_id,init_status,room_status,health_status,damage,keep_begindate,keep_enddate,remove_name,remarks
        from room
        where room_number=#{room_number} and admin_id=#{admin_id}
    </select>
    <!--筛选房间-->
    <select id="selecrStatusByRoom" resultType="Room">
        select id,room_name,room_number,admin_id,init_status,room_status,health_status,damage,keep_begindate,keep_enddate,remove_name,remarks
        from room
        where init_status=#{init_status} and admin_id=#{admin_id}
    </select>
    <!--筛选卫生-->
    <select id="selectHealthByRoom" resultType="Room">
        select id,room_name,room_number,admin_id,init_status,room_status,health_status,damage,keep_begindate,keep_enddate,remove_name,remarks
        from room
        where health_status=#{health_status} and admin_id=#{admin_id}
    </select>
    <!--筛选故障-->
    <select id="selectRoomByRoom" resultType="Room">
        select id,room_name,room_number,admin_id,init_status,room_status,health_status,damage,keep_begindate,keep_enddate,remove_name,remarks
        from room
        where room_status=#{room_status} and admin_id=#{admin_id}
    </select>
</mapper>
